<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/a/bootstrap.css" rel="stylesheet">
<!--link href="/a/bootstrap-responsive.css" rel="stylesheet"-->
<link href="/a/lib/codemirror/codemirror.css" rel="stylesheet">
<link href="/a/custom.css" rel="stylesheet">
<script src="/a/jquery-2.0.2.min.js" type="text/javascript"></script>
<script src="/a/jquery.form.min.js" type="text/javascript"></script>
</head>
<body>

<div class="container-fluid fill">
	<div class="row-fluid">
		<div class="header span12">
			<h4 class="pull-left">Code Lab Web: {{id}}</h4>
			<div class="pull-right" id="saveit" style="display:none;"><img src="/a/ajax-spinner.gif"></div>
			<form id="saveform" class="pull-right" action="/lab/{{id}}" method="post">
				<input id="labid" type="hidden" value="/lab/{{id}}"/>
				<input id="savebutton" type="submit" value="Save"/>
			</form>
			<input type="button" class= "pull-right" id="newlab" value="New"/>
		</div>
	</div>
	<div class="main row-fluid fill">
		<div id="show" class="span8 fill">
			<iframe id="showpage" class="fill"></iframe>
			<div id="dragbar"></div>
		</div>
		<div id="coding" class="span4 fill">
			<div id="htmlpanel">
				<h5>HTML</h5>
				<textarea id="htmlcode" width="100%">{{htmlcode}}</textarea>
			</div>
			<div id="csspanel">
				<h5>CSS</h5>
				<textarea id="csscode" width="100%">{{csscode}}</textarea>
			</div>
		</div>
	</div>
</div>

<div id="#output"></div>

<input type="text" id="namefield">

<script src="/a/lib/codemirror/codemirror.js" type="text/javascript"></script>
<script src="/a/lib/codemirror/mode/xml.js" type="text/javascript"></script>
<script src="/a/lib/codemirror/mode/css.js" type="text/javascript"></script>
<script src="/a/lib/inlet.min.js" type="text/javascript"></script>
<script src="/a/editors.js" type="text/javascript"></script>
<script src="/a/interaction.js" type="text/javascript"></script>

<script src="/channel/bcsocket.js"></script>
<script src="/share/share.uncompressed.js"></script>
<script src="/share/cm.js"></script>
<script>
var doc = null, editor = null;

function setDoc(docName) {
  document.title = "ShareJS+CodeMirror: " + docName;
  // don't set the standard one or we'll create two entries in the users history
  if(docName != "cm")
    location.hash = docName;

  sharejs.open(docName, 'text', function(error, newDoc) {
      if (doc !== null) {
          doc.close();
          doc.detach_cm();
      }

      doc = newDoc;

      if (error) {
          console.error(error);
          return;
      }
      doc.attach_cm(htmlEditor);
  });
};

window.onload = function() {
  editor = htmlEditor;
  var namefield = document.getElementById('namefield');

  var docName = location.hash.substr(1);
  if(docName.length < 1)
    docName = 'cm';
  setDoc(docName);  // Hooking ShareJS and CodeMirror for the first time.
  namefield.value = docName;

  function namefieldChanged() {
      var docName = namefield.value;
      if (docName) setDoc(docName);
  }

  if (namefield.addEventListener) {
      namefield.addEventListener('input', namefieldChanged, false);
  } else {
      namefield.attachEvent('oninput', namefieldChanged);
  }
};
</script>

</body>
</html>
