<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/a/bootstrap.css" rel="stylesheet">
<link href="/a/custom.css" rel="stylesheet">
<link href="/a/bootstrap-responsive.css" rel="stylesheet">
<script src="/a/jquery-2.0.2.min.js" type="text/javascript"></script>
<script src="/a/jquery.form.min.js" type="text/javascript"></script>
</head>
<body>

<div class="container-fluid fill">
	<div class="row-fluid">
		<div class="header span12">
			<h4 class="pull-left">Code Lab Web: {{id}}</h4>
			<form id="saveform" class="pull-right" action="/lab/{{id}}" method="post">
				<input id="labid" type="hidden" value="/lab/{{id}}"/>
				<input id="savebutton" type="submit" value="Save"/>
			</form>
			<input type="button" class= "pull-right" id="newlab" value="New"/>
		</div>
	</div>
	<div class="main row-fluid fill">
		<div id="show" class="span8 fill">
			<iframe id="showpage" class="fill"></iframe>
			<div id="dragbar"></div>
		</div>
		<div id="coding" class="span4 fill">
			<div id="htmlpanel">
				<h5>HTML</h5>
				<textarea id="htmlcode" width="100%">{{htmlcode}}</textarea>
			</div>
			<div id="csspanel">
				<h5>CSS</h5>
				<textarea id="csscode" width="100%">{{csscode}}</textarea>
			</div>
		</div>
	</div>
</div>

<div id="#output"></div>

<script src="/a/interaction.js" type="text/javascript"></script>

</body>
</html>
